<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__info-wrapper">
        <address class="footer__address">286 Cadman Plaza, New York, NY 11238, United States</address>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link">
              <span class="visually-hidden">Go to Twitter.</span>
              <svg class="footer__twitter-icon" aria-hidden="true" focusable="false">
                <use xlink:href="app/images/sprite.svg#footer-twitter-icon"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link">
              <span class="visually-hidden">Go to Instagram.</span>
              <svg class="footer__instagram-icon" aria-hidden="true" focusable="false">
                <use xlink:href="app/images/sprite.svg#footer-instagram-icon"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link">
              <span class="visually-hidden">Go to Facebook.</span>
              <svg class="footer__facebook-icon" aria-hidden="true" focusable="false">
                <use xlink:href="app/images/sprite.svg#footer-facebook-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__schedule-wrapper">
        <p class="footer__schedule">Mon - Fri<br>08:00 am - 07:00 pm</p>
        <p class="footer__schedule">Sat - Sun<br>10:00 am - 06:00 pm</p>
      </div>
    </div>
    <div class="footer__meta-wrapper">
      <p class="footer__year">2023</p>
      <a class="footer__school">The Rolling Scopes School</a>
      <a class="footer__github-link">Username</a>
    </div>
  </div>
</footer>