<header class="header container">
  <a class="header__title-link" href="#"><h1 class="header__title">Brooklyn Public Library</h1></a>
  <nav class="header__navigation">
    <ul class="header__navigation-list">
      <li class="header__navigation-item"><a href="#about" class="header__navigation-link">About</a></li>
      <li class="header__navigation-item"><a href="#favorites" class="header__navigation-link">Favorites</a></li>
      <li class="header__navigation-item"><a href="#cafe" class="header__navigation-link">Coffee shop</a></li>
      <li class="header__navigation-item"><a href="#contacts" class="header__navigation-link">Contacts</a></li>
      <li class="header__navigation-item"><a href="#cards" class="header__navigation-link">Library Card</a></li>
    </ul>
  </nav>
  <a class="header__login-link" href="/">
    <span class="visually-hidden">Log in to your personal account.</span>
    <svg class="header__login-icon" aria-hidden="true" focusable="false">
      <use xlink:href="app/images/sprite.svg#header-login-icon"></use>
    </svg>
  </a>
</header>
