.about {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;
  &__text {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: initial;
  }
}

.about__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 35px;
  &-pagination {
    display: flex;
    justify-content: center;
    &-item {
      width: 26px;
      height: 26px;
        > button {
          display: flex;
          align-items: center;
        }
        > .about__gallery-pagination-button {
        padding: 5px;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        &:hover::before {
            background-color: $primary-color;
          }
        &:focus::before {
          background-color: $primary-color;
        }
        &:active::before {
          opacity: 0.5;
        }
        &--current {
          padding: 5px;
          background-color: transparent;
          border: none;
          border-radius: 50%;
          &:hover::before {
            opacity: 0.8;
          }
          &:focus::before {
            opacity: 0.8;
          }
          &:active::before {
            opacity: 0.5;
          }
          &::before {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background-color: $primary-color;
            border-radius: 50%;
          }
        }
        &::before {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          background-color: $base-dark-color;
          border-radius: 50%;
        }
      }
    }
  }
}
