.cards {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__search-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: center;
  }
}

.card {
  width: 600px;
  min-height: 387px;
  padding-top: 17px; //20
  padding-right: 20px;
  padding-bottom: 24px; //30
  padding-left: 17px; //20
  border: 3px solid $primary-color;
  &__wrapper {
    width: 560px;
    min-height: 272px;
    margin-bottom: 20px;
    padding: 20px 20px 25px 20px;
    background-color: $primary-color;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: $font-second;
    font-size: 30px;
    line-height: 1.66;
    letter-spacing: 0.6px;
  }
  &__input {
    display: block;
    width: 100%;
    max-width: 520px;
    height: 66px;
    padding: 8px 20px;

    font-family: $font-second;
    font-size: 30px;
    line-height: 1.66;
    letter-spacing: 0.6px;
    color: $primary-color;

    border: none;
    border-radius: 10px;
    transition: all 0.2s;
    &:hover {
      opacity: 0.5;
    }
    &:focus {
      opacity: 1;
    }
    &:active {
      opacity: 1;
    }
  }
  &__input:nth-of-type(odd) {
    margin-bottom: 25px;
  }
  &__input::placeholder {
    font-family: $font-second;
    font-size: 30px;
    line-height: 1.66;
    letter-spacing: 0.6px;
    color: $placeholder;
  }
  &__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 40px;
    font-size: 20px;
    transition: all 0.2s;
    &:hover {
      border: 1px solid $primary-color;
      background-color: $primary-color;
    }
    &:focus {
      border: 1px solid $primary-color;
      background-color: $primary-color;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

.cards__authorization {
  width: 100%;
  max-width: 600px;
  text-align: end;
  &-title {
    margin-top: 0;
    margin-bottom: 35px;
    font-family: $font-second;
    font-size: 30px;
    line-height: normal;
    letter-spacing: 0.6px;
  }
  &-text {
    width: 100%;
    max-width: 457px;
    margin-top: 0;
    margin-bottom: 35px;
    margin-left: auto;
    text-align: end;
    letter-spacing: 0.4px;
  }
  &-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
  &-button {
    padding: 0;
    transition: all 0.2s;
    &:hover {
      border: 1px solid $primary-color;
      background-color: $primary-color;
    }
    &:focus {
      border: 1px solid $primary-color;
      background-color: $primary-color;
    }
    &:active {
      opacity: 0.5;
    }
  }
}


