.footer-twitter-icon {
  width: 24px;
  height: 24px;
  fill: #f5efdb;
}

.footer-instagram-icon {
  width: 24px;
  height: 24px;
  fill: #f5efdb;
}

.footer-facebook-icon {
  width: 24px;
  height: 24px;
  fill: #f5efdb;
}
