.footer {
  padding-top: 20px;
  padding-bottom: 44px;
  color: $base-light-color;
  background-color: $light-dark-color;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid $base-light-color;
  }
  &__list {
    display: flex;
    gap: 15px;
  }
  &__address-link {
    display: block;
    width: 229px;
    margin-bottom: 15px;
    font-size: 15px;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: initial;
    color: $base-light-color;
    transition: all 0.2s;
    &:hover {
      color: $primary-color;
    }
    &:focus {
      color: $primary-color;
    }
    &:active {
      opacity: 0.5;
    }
  }
  &__schedule-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: end;
  }
  &__schedule {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: initial;
  }
  &__meta-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
  }
  &__year {
    margin-top: 0;
    margin-bottom: 0;
    line-height: initial;
  }
  &__school {
    line-height: initial;
    color: $base-light-color;
    transition: all 0.2s;
    &:hover {
      color: $primary-color;
    }
    &:focus {
      color: $primary-color;
    }
    &:active {
      opacity: 0.5;
    }
  }
  &__github-link {
    line-height: initial;
    color: $base-light-color;
    transition: all 0.2s;
    &:hover {
      color: $primary-color;
    }
    &:focus {
      color: $primary-color;
    }
    &:active {
      opacity: 0.5;
    }
  }
  &__link {
    transition: all 0.2s;
    &:hover > svg {
      fill: $primary-color;
    }
    &:focus > svg {
      fill: $primary-color;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

.footer__twitter-icon {
  width: 24px;
  height: 24px;
  fill: #f5efdb;
  transition: all 0.2s;
}

.footer__instagram-icon {
  width: 24px;
  height: 24px;
  fill: #f5efdb;
  transition: all 0.2s;
}

.footer__facebook-icon {
  width: 24px;
  height: 24px;
  fill: #f5efdb;
  transition: all 0.2s;
}
