.header {
  padding-top: 20px;
  padding-bottom: 20px;
  color: $base-light-color;
  background-color: $light-dark-color;
  >.container {
    display: flex;
  }
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-second;
  font-size: 30px;
  line-height: 1.66;
  letter-spacing: 0.6px;
}

.header__navigation {
  margin-right: 40px;
  margin-left: auto;
  &-list {
    display: flex;
    gap: 30px;
  }
  &-link {
    font-family: $font-basic;
    font-size: 20px;
    line-height: 2.5;
    letter-spacing: initial;
    color: $base-light-color;
  }
}

.header__login {
  &-link {
    align-self: flex-end;
  }
  &-icon {
    width: 28px;
    height: 28px;
    fill: #fff;
  }
}
