.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: $base-light-color;
  background-color: $light-dark-color;
  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $font-second;
    font-size: 30px;
    line-height: 1.66;
    letter-spacing: 0.6px;
  }
}

.header__navigation {
  margin-right: 30px;
  margin-left: auto;
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &-link {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-family: $font-basic;
    font-size: 20px;
    line-height: 2.5;
    letter-spacing: initial;
    color: $base-light-color;
    transition: all 0.2s;
    &:hover {
      color: $primary-color;
    }
    &:focus {
      color: $primary-color;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

.header__login {
  &-link {
    padding-top: 9px;
    transition: all 0.2s;
    &:hover > .header__login-icon {
      fill: $primary-color;
    }
    &:focus > .header__login-icon {
      fill: $primary-color;
    }
    &:active {
      opacity: 0.5;
    }
  }
  &-icon {
    width: 28px;
    height: 28px;
    fill: $base-light-color;
    transition: all 0.2s;
  }
}
