// fonts
$font-basic: Inter, sans-serif;
$font-second: Forum, serif;

// colors
$primary-color: #bb945f;

// text colors
$base-dark-color: #000000;
$base-light-color: #ffffff;

// background and titles colors
$light-dark-color: #0c0c0e;

// placeholder colors
$placeholder: #8e8e8e;

// footer svg icons
$footer-svg-color: #f5efdb;
